Source: simple-usb-flasher
Section: misc
Priority: optional
Maintainer: Carson Grover
Homepage: https://www.shockos.net
Package: simple-usb-flasher
Version: 1.5
Architecture: all
Depends: 7zip, bzip2, gzip, lzma, tar, unrar, unzip, xz-utils, zstd
Description: Simple USB Flasher
    Easily flash bootable images to block devices such as USB flash drives, external USB SSDs/HDDs, and SD cards.
